Options +ExecCGI +Includes +MultiViews
AddType 'application/xhtml+xml; charset=UTF-8' html
#AddType 'application/xhtml+xml; charset=UTF-8' .html
AddType 'text/javascript; charset=UTF-8' js
AddType application/x-httpd-php .php

DirectoryIndex index
AddOutputFilter INCLUDES .html

