Options +ExecCGI +Includes +MultiViews
AddType 'text/html; charset=UTF-8' application/xhtml+xml
AddType 'text/javascript; charset=UTF-8' js
AddType application/x-httpd-php .php

DirectoryIndex index
AddOutputFilter INCLUDES .html

